button.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #9a86f3;
    border: none;
    cursor: pointer;
    color: #ebe7ff;
    transition: 0.5s ease-in-out;
}

button.logout svg {
    font-size: 1.3rem;
}

button.logout:hover {
    background-color: #ebe7ff;
    color: #9a86f3;
}

