* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.not-found .error-text h1 {
  color: white;
  text-transform: uppercase;
  
}

.EmojiPickerReact {
  position: relative; 
  top: -350px;
  background-color: #080420;
  box-shadow: 0 5px 10px #9a86f3;
  border-color: #9186f3;
}